.DS_Store
logfile
*.tmp
*.log
*.class
*.pyc
*.so
*.o
*.aux
*.pdf
*.lot
*.lof
*.idx
*.blg
*.bbl
*.gz
*.toc
*.mod
*.pyg
*.ilg
_minted-neptune/
**/build*/
**/lib
**/include
**/bin
**/output/**
**/work-*
neptune-sa
openmp-test-sa
**/validation
**/OPI
**/libslam
**/work*/
.vscode