.DS_Store
logfile
*.tmp
*.log
*.class
*.pyc
*.so
*.o
*.aux
*.pdf
*.lot
*.lof
*.idx
*.blg
*.bbl
*.gz
*.toc
*.mod
*.pyg
*.ilg
_minted-neptune/
**/build*/
**/lib
**/include
**/bin
**/output/**
**/work-*
neptune-sa
openmp-test-sa
**/validation
**/work*/
.vscode
Testing/
test_report.xml

# pFUnit generated
tests/*.F90
tests/*.inc

### CMake ###
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps

### CMake Patch ###
CMakeUserPresets.json

# External projects
*-prefix/